<h1>Welcome to CSE Motors!</h1>

<img src="/images/site/checkerboard.jpg" alt="Background">

<section>
    <div>
        <h2>DMC Delorean</h2>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="/images/site/own_today.png" alt="Inventory">
    </div>
</section>

<img src="/images/vehicles/delorean.jpg" alt="Delorean car">

<section class="delorean">
    <div>
        <h2>Delorean Upgrades</h2>

        <div class="upgrades1">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor"loading="lazy" width="100" height="100">
            <p>Flux Capacitor</p>
        </div>

        <div>
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap" loading="lazy" width="100" height="100">
            <p>Hub Cap</p>
        </div>

        <div>
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals" loading="lazy" width="100" height="100">
            <p>Flame Decals</p>
        </div>
        <div>
            <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper" loading="lazy" width="100" height="100">
            <p>Bumper Sticker</p>
        </div>
    </div>

    <div class="upgrades2">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast its almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>



</section>