<% if (title) { %>
    <h1><%= title %></h1>
  <% } else { %>
    <script>window.location.href = '/'</script>
  <% } %>
  
  <main>
    <% if (grid && grid.length > 0) { %>
      <ul id="inv-display">
        <%- grid %>
      </ul>
    <% } else { %>
      <p>Nenhum veículo encontrado.</p>
    <% } %>
  </main>
  